<section id="gallery" class="section gallery">
  <div class="container">
    <div class="gallery-wrapper">
      <h2 class="gallery-title">Breathe in the Space</h2>
      <p class="gallery-text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img1-min.jpg    1x,
              /images/gallery/gallery_decktop_img1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img1-min.jpg    1x,
              /images/gallery/gallery_tablet_img1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img1-min.jpg    1x,
              /images/gallery/gallery_mobile_img1@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_mobile_img1-min.jpg"
            alt="people are stretching"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img2-min.jpg    1x,
              /images/gallery/gallery_decktop_img2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img2-min.jpg    1x,
              /images/gallery/gallery_tablet_img2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img2-min.jpg    1x,
              /images/gallery/gallery_mobile_img2@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_mobile_img2-min.jpg"
            alt="people meditate"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img3-min.jpg    1x,
              /images/gallery/gallery_decktop_img3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img3-min.jpg    1x,
              /images/gallery/gallery_tablet_img3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img3-min.jpg    1x,
              /images/gallery/gallery_mobile_img3@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_mobile_img3-min.jpg"
            alt="yoga room"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img4-min.jpg    1x,
              /images/gallery/gallery_decktop_img4@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img4-min.jpg    1x,
              /images/gallery/gallery_tablet_img4@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img4-min.jpg    1x,
              /images/gallery/gallery_mobile_img4@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_mobile_img4-min.jpg"
            alt="yoga room"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img5-min.jpg    1x,
              /images/gallery/gallery_decktop_img5@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img5-min.jpg    1x,
              /images/gallery/gallery_tablet_img5@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img5-min.jpg    1x,
              /images/gallery/gallery_mobile_img5@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_modile_img5-min.jpg"
            alt="people who meditate"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/gallery/gallery_decktop_img6-min.jpg    1x,
              /images/gallery/gallery_decktop_img6@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/gallery/gallery_tablet_img6-min.jpg    1x,
              /images/gallery/gallery_tablet_img6@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/gallery/gallery_mobile_img6-min.jpg    1x,
              /images/gallery/gallery_mobile_img6@2x-min.jpg 2x
            "
          />
          <img class="gallery__img"
            src="/images/gallery/gallery_mobile_img6-min.jpg"
            alt="people who meditate"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
