<header class="header" id="header">
  <div class="container header__div">
    <button class="header__menu-btn visible" aria-label="menu button" data-menu-btn>
      <svg width="24" height="24">
        <use href="/images/icons.svg#menu-icon"></use>
      </svg>
    </button>

    <button class="header__close-btn" aria-label="close button" data-menu-close-btn>
      <svg width="24" height="24">
        <use href="/images/icons.svg#close-icon"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="#programs">Yoga Classes</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#team">Team</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#pricing">Pricing</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="header__logo" href="./index.html" aria-label="logo"
      ><svg width="112" height="48">
        <use href="/images/icons.svg#yoga-logo"></use>
      </svg>
    </a>

    <a class="header__btn button-anim btn--blue" href="#pricing" data-join-btn>
      <span class="header-btn__join">Join</span>
      <span class="header-btn__join-now">Join Now</span>
    </a>
  </div>
</header>

<div class="header__modal is-hidden" data-menu>
  <div class="container">
    <nav class="header-modal__nav">
      <ul class="header-modal__list" data-nav-link>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#programs">Yoga Classes</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#team">Team</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#pricing">Pricing</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <a
      class="header-modal__button button-anim btn--blue"
      href="#pricing"
      data-modal-join-btn
      >Join Now</a
    >
  </div>
</div>
