<section class="hero-section container">
  <div class="hero-div">
    <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
    <p class="hero-text">
      Discover the harmony of mind and body through our expertly designed yoga
      programs. Join a community dedicated to wellness and personal growth.
    </p>
    <div class="hero-btn-div">
      <button class="btn-joinnow btn-hero" type="submit">Join Now</button>
      <button class="btn-learnmore btn-hero" type="submit">Learn More</button>
    </div>
  </div>
</section>
