<section class="hero-section">
  <div class="container">
    <div class="hero-img"></div>
    <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
    <p class="hero-text">
      Discover the harmony of mind and body through our expertly designed yoga
      programs. Join a community dedicated to wellness and personal growth.
    </p>

    <ul class="hero-ul">
      <li class="hero-ul-li">
        <a href="#pricing" class="link-joinnow link-hero">Join Now</a>
      </li>
      <li class="hero-ul-li">
        <a href="#gallery" class="link-learnmore link-hero">Learn More</a>
      </li>
    </ul>
  </div>
</section>
