<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close-btn" type="button" data-modal-close>
      <svg width="24" height="24">
        <use href="/images/icons.svg#close-icon"></use>
      </svg>
    </button>
    <h2 class="modal__header">Join Now!</h2>
    <p class="modal__text" data-modal-text>One Session</p>
    <p class="modal__text-price" data-modal-price>$10</p>
    <form class="modal__form">
      <label class="modal-form__label" for="user-name"
        >Your Name<input
          class="modal-form__input"
          type="text"
          id="user-name"
          placeholder="Enter your name"
          required
      /></label>
      <label class="modal-form__label" for="user-email"
        >Email<input
          class="modal-form__input"
          type="email"
          id="user-email"
          placeholder="Enter your mail"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        /><span class="error-message">Please enter a valid email</span></label
      >
      <label class="modal-form__label" for="user-phone"
        >Phone number<input
          class="modal-form__input"
          type="tel"
          id="user-phone"
          placeholder="Enter your phone number"
          required
      /></label>
      <button class="modal-form__button" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="container">
  <ul>
    <li><button data-checkout-basic>price 10</button></li>
    <li><button data-checkout-standard>price 65</button></li>
    <li><button data-checkout-pro>price 80</button></li>
  </ul>
</div>
