<section class="section">
  <div class="container">
    <div class="section-box">
      <p class="section-label">Affordable</p>
      <h2 class="section-title">Pricing Plans</h2>
      <p class="section-subtitle">Choose the perfect plan for your yoga journey.</p>
    </div>

    <ul class="items-cards">

      <li class="item-card">
          <h3 class="item-card-title">One Session</h3>
          <p class="item-card-price">$10</p>

            <ul class="items-features">
              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">1 group session</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">10% discount for next 2 Sessions</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">Community support group</p>
              </li>
            </ul>
          <button class="item-button-card" type="button" data-checkout-basic>Join</button>
      </li>

      <li class="item-card">
          <h3 class="item-card-title">8 Sessions Package</h3>
          <p class="item-card-price">$65</p>

          <ul class="items-features">
            <li class="item-features">
              <svg class="item-icon-features" width="24" height="24">
                <use href="/images/icons.svg#check-icon"></use>
              </svg>
              <p class="item-features-desc">6 Group Sessions</p>
            </li>

            <li class="item-features">
              <svg class="item-icon-features" width="24" height="24">
                <use href="/images/icons.svg#check-icon"></use>
              </svg>
              <p class="item-features-desc">2 Individual Sessions</p>
            </li>

            <li class="item-features">
              <svg class="item-icon-features" width="24" height="24">
                <use href="/images/icons.svg#check-icon"></use>
              </svg>
              <p class="item-features-desc">Priority customer support</p>
            </li>
          </ul>
        <button class="item-button-card" type="button" data-checkout-standard>Join</button>
      </li>

      <li class="item-card item-card-full">
        <div class="card-info-box item-wrap-content">
          <div class="box">
            <div class="box-title">
              <h3 class="item-card-title">12 Sessions Package</h3>
              <p class="item-card-price price-card-full">$80</p>
            </div>

            <ul class="items-features box-features">
              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">8 Group Sessions</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">4 Individual Sessions</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">Monthly yoga challenges</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">Exclusive member discounts</p>
              </li>

              <li class="item-features">
                <svg class="item-icon-features" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="item-features-desc">Community support group</p>
              </li>
            </ul>
          </div>
          <button class="item-button-card" type="button" data-checkout-pro>Join</button>
        </div>
      </li>
    </ul>
  </div>
</section>