<section class="section pricing" id="pricing">
  <div class="container">
    <div class="pricing__header">
      <p class="pricing__label">Affordable</p>
      <h2 class="pricing__title">Pricing Plans</h2>
      <p class="pricing__subtitle">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>

    <ul class="pricing__list-cards">

      <li class="pricing__item-card">
        <h3 class="pricing__card-title">One Session</h3>
        <p class="pricing__card-price"><span class="pricing__price-icon">$</span>10</p>

        <ul class="pricing__list-features">
          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">1 group session</p>
          </li>

          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">10% discount for next 2 Sessions</p>
          </li>

          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">Community support group</p>
          </li>
        </ul>
        <button
          class="pricing__card-button button-anim btn--blue"
          type="button"
          data-checkout-basic
        >
          Join
        </button>
      </li>

      <li class="pricing__item-card">
        <h3 class="pricing__card-title">8 Sessions Package</h3>
        <p class="pricing__card-price"><span class="pricing__price-icon">$</span>65</p>

        <ul class="pricing__list-features">
          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">6 Group Sessions</p>
          </li>

          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">2 Individual Sessions</p>
          </li>

          <li class="pricing__item-feature">
            <svg class="pricing__feature-icon" width="24" height="24">
              <use href="/images/icons.svg#check-icon"></use>
            </svg>
            <p class="pricing__feature-desc">Priority customer support</p>
          </li>
        </ul>
        <button
          class="pricing__card-button button-anim btn--blue"
          type="button"
          data-checkout-standard
        >
          Join
        </button>
      </li>

      <li class="pricing__item-card pricing__item-card--full">
        <div class="pricing__card-content--box">
          <div class="pricing__card-box">
            <div class="pricing__card-header--box">
              <h3 class="pricing__card-title">12 Sessions Package</h3>
              <p class="pricing__card-price pricing__card-price--margin"><span class="pricing__price-icon">$</span>80</p>
            </div>

            <ul class="pricing__list-features pricing__list-features--box">
              <li class="pricing__item-feature">
                <svg class="pricing__feature-icon" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="pricing__feature-desc">8 Group Sessions</p>
              </li>

              <li class="pricing__item-feature">
                <svg class="pricing__feature-icon" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="pricing__feature-desc">4 Individual Sessions</p>
              </li>

              <li class="pricing__item-feature">
                <svg class="pricing__feature-icon" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="pricing__feature-desc">Monthly yoga challenges</p>
              </li>

              <li class="pricing__item-feature">
                <svg class="pricing__feature-icon" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="pricing__feature-desc">Exclusive member discounts</p>
              </li>

              <li class="pricing__item-feature">
                <svg class="pricing__feature-icon" width="24" height="24">
                  <use href="/images/icons.svg#check-icon"></use>
                </svg>
                <p class="pricing__feature-desc">Community support group</p>
              </li>
            </ul>
          </div>
          <button
            class="pricing__card-button button-anim btn--blue"
            type="button"
            data-checkout-pro
          >
            Join
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
