<section class="team container">
  <p class="meet">Meet</p>
  <h2 class="teem-title">Our Team</h2>
  <p>Dedicated professionals passionate about yoga and wellness.</p>
  <ul>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Liam Johnson</h3>
      <p class="teem-info">Yoga Instructor</p>
      <p class="teem-about">
        Emma has over 10 years of experience in Hatha and Vinyasa yoga.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Emma Stone</h3>
      <p class="teem-info">Meditation Coach</p>
      <p class="teem-about">
        Liam specializes in mindfulness and stress reduction techniques through
        guided meditation.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Sophia Lee</h3>
      <p class="teem-info">Pilates Trainer</p>
      <p class="teem-about">
        Sophia combines Pilates with yoga for a holistic fitness approach.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Noah Brown</h3>
      <p class="teem-info">Yoga Therapist</p>
      <p class="teem-about">
        Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Ava Green</h3>
      <p class="teem-info">Fitness Trainer</p>
      <p class="teem-about">
        Ava integrates strength training with yoga to promote overall fitness.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3 class="teem-name">Clark Thomas</h3>
      <p class="teem-info">Fitness Trainer</p>
      <p class="teem-about">
        Clark specializes in mindfulness and stress reduction techniques through
        guided meditation.
      </p>
    </li>
  </ul>
</section>
