<section class="section our-team">
  <div class="container">
    <p class="meet">Meet</p>
    <h2 class="team-title">Our Team</h2>
    <p class="team-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img1-min.jpg    1x,
              /images/team/team_desktop_img1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img1-min.jpg    1x,
              /images/team/team_img1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img1-min.jpg    1x,
              /images/team/team_mobile_img1@2x-min.jpg 2x
            "
          />
          <img src="/images/team/team_mobile_img1-min.jpg" alt="liam photo" />
        </picture>
        <h3 class="team-name">Liam Johnson</h3>
        <p class="team-info">Yoga Instructor</p>
        <p class="team-about">
          Liam specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#linkedin"></use></svg
            ></a>
          </li>
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#instagram"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img2-min.jpg    1x,
              /images/team/team_desktop_img2@2x-min.jpg 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img2-min.jpg    1x,
              /images/team/team_img2@2x-min.jpg 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img2-min.jpg    1x,
              /images/team/team_mobile_img2@2x-min.jpg 2x
            " />
          <img src="/images/team/team_mobile_img2-min.jpg" alt="emma photo"
        /></picture>
        <h3 class="team-name">Emma Stone</h3>
        <p class="team-info">Meditation Coach</p>
        <p class="team-about">
          Emma has over 10 years of experience in Hatha and Vinyasa yoga.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img3-min.jpg    1x,
              /images/team/team_desktop_img3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img3-min.jpg    1x,
              /images/team/team_img3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img3-min.jpg    1x,
              /images/team/team_mobile_img3@2x-min.jpg 2x
            "
          />
          <img src="/images/team/team_mobile_img3-min.jpg" alt="sophia photo" />
        </picture>
        <h3 class="team-name">Sophia Lee</h3>
        <p class="team-info">Pilates Trainer</p>
        <p class="team-about">
          Sophia combines Pilates with yoga for a holistic fitness approach.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#instagram"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img4-min.jpg    1x,
              /images/team/team_desktop_img4@2x-min.jpg 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img4-min.jpg    1x,
              /images/team/team_img4@2x-min.jpg 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img4-min.jpg    1x,
              /images/team/team_mobile_img4@2x-min.jpg 2x
            " />
          <img src="/images/team/team_mobile_img4-min.jpg" alt="noah photo"
        /></picture>
        <h3 class="team-name">Noah Brown</h3>
        <p class="team-info">Yoga Therapist</p>
        <p class="team-about">
          Noah focuses on therapeutic yoga to aid recovery and enhance
          well-being.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img5-min.jpg    1x,
              /images/team/team_desktop_img5@2x-min.jpg 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img5-min.jpg    1x,
              /images/team/team_img5@2x-min.jpg 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img5-min.jpg    1x,
              /images/team/team_mobile_img5@2x-min.jpg 2x
            " />
          <img src="/images/team/team_mobile_img5-min.jpg" alt="ava photo"
        /></picture>
        <h3 class="team-name">Ava Green</h3>
        <p class="team-info">Fitness Trainer</p>
        <p class="team-about">
          Ava integrates strength training with yoga to promote overall fitness.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="http://www.linkedin.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <picture class="team-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/team/team_desktop_img6-min.jpg    1x,
              /images/team/team_desktop_img6@2x-min.jpg 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/team/team_img6-min.jpg    1x,
              /images/team/team_img6@2x-min.jpg 2x
            " />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/team/team_mobile_img6-min.jpg    1x,
              /images/team/team_mobile_img6@2x-min.jpg 2x
            " />
          <img src="/images/team/team_mobile_img6-min.jpg" alt="clark photo"
        /></picture>
        <h3 class="team-name">Clark Thomas</h3>
        <p class="team-info">Fitness Trainer</p>
        <p class="team-about">
          Clark specializes in mindfulness and stress reduction techniques
          through guided meditation.
        </p>
        <ul class="team-socmedia">
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="team-socmedia-item">
            <a
              class="team-socmedia-link"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use class="icon" href="/images/icons.svg#instagram"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
