<section class="team container">
  <p class="meet">Meet</p>
  <h2 class="team-title">Our Team</h2>
  <p class="team-description">
    Dedicated professionals passionate about yoga and wellness.
  </p>
  <ul>
    <li class="team-card">
      <img src="" alt="liam photo" />
      <h3 class="team-name">Liam Johnson</h3>
      <p class="team-info">Yoga Instructor</p>
      <p class="team-about">
        Emma has over 10 years of experience in Hatha and Vinyasa yoga.
      </p>
    </li>
    <li class="team-card">
      <img src="" alt="emma photo" />
      <h3 class="team-name">Emma Stone</h3>
      <p class="team-info">Meditation Coach</p>
      <p class="team-about">
        Liam specializes in mindfulness and stress reduction techniques through
        guided meditation.
      </p>
    </li>
    <li class="team-card">
      <img src="" alt="sophia photo" />
      <h3 class="team-name">Sophia Lee</h3>
      <p class="team-info">Pilates Trainer</p>
      <p class="team-about">
        Sophia combines Pilates with yoga for a holistic fitness approach.
      </p>
    </li>
    <li class="team-card">
      <img src="" alt="noah photo" />
      <h3 class="team-name">Noah Brown</h3>
      <p class="team-info">Yoga Therapist</p>
      <p class="team-about">
        Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
      </p>
    </li>
    <li class="team-card">
      <img src="" alt="ava photo" />
      <h3 class="team-name">Ava Green</h3>
      <p class="team-info">Fitness Trainer</p>
      <p class="team-about">
        Ava integrates strength training with yoga to promote overall fitness.
      </p>
    </li>
    <li class="team-card">
      <img src="" alt="clark photo" />
      <h3 class="team-name">Clark Thomas</h3>
      <p class="team-info">Fitness Trainer</p>
      <p class="team-about">
        Clark specializes in mindfulness and stress reduction techniques through
        guided meditation.
      </p>
    </li>
  </ul>
</section>
