<!--Programs section-->

<section class="programs section" id="programs">
  <div class="container">
    <p class="programs-label">Explore</p>
    <h2 class="programs-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="programs-description">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="programs-list">
      <li class="programs-item">
        <picture class="programs-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/yoga_classes/yoga_classes_desktop-img1-min.jpg    1x,
              /images/yoga_classes/yoga_classes_desktop-img1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/yoga_classes/yoga_classes_tablet_img1-min.jpg    1x,
              /images/yoga_classes/yoga_classes_tablet_img1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/yoga_classes/yoga_classes_mobile_img1-min.jpg    1x,
              /images/yoga_classes/yoga_classes_mobile_img1@2x-min.jpg 2x
            "
          />
          <img
            class="program-img"
            src="/images/yoga_classes/yoga_classes_mobile_img1-min.jpg"
            alt="Beginner Yoga"
          />
        </picture>
        <h3 class="programs-subtitle">
          <span class="mobile-heading"
            >Beginner Yoga: Foundations for New Practitioners</span
          >
          <span class="desktop-heading">Beginner Yoga: Foundations</span>
        </h3>
        <p class="programs-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="programs-item">
        <picture class="programs-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/yoga_classes/yoga_classes_desktop-img2-min.jpg    1x,
              /images/yoga_classes/yoga_classes_desktop-img2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/yoga_classes/yoga_classes_tablet_img2-min.jpg    1x,
              /images/yoga_classes/yoga_classes_tablet_img2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/yoga_classes/yoga_classes_mobile_img2-min.jpg    1x,
              /images/yoga_classes/yoga_classes_mobile_img2@2x-min.jpg 2x
            "
          />
          <img
            class="programs-img"
            src="/images/yoga_classes/yoga_classes_mobile_img2-min.jpg"
            alt="Vinyasa Flow"
          />
        </picture>
        <h3 class="programs-subtitle">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="programs-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="programs-item">
        <picture class="programs-photo">
          <source
            media="(min-width: 1336px)"
            srcset="
              /images/yoga_classes/yoga_classes_desktop-img3-min.jpg    1x,
              /images/yoga_classes/yoga_classes_desktop-img3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/yoga_classes/yoga_classes_tablet_img3-min.jpg    1x,
              /images/yoga_classes/yoga_classes_tablet_img3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/yoga_classes/yoga_classes_mobile_img3-min.jpg    1x,
              /images/yoga_classes/yoga_classes_mobile_img3@2x-min.jpg 2x
            "
          />
          <img
            class="program-img"
            src="/images/yoga_classes/yoga_classes_mobile_img3-min.jpg"
            alt="Restorative Yoga"
          />
        </picture>
        <h3 class="programs-subtitle">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="programs-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a class="programs-button button-anim" href="#pricing">
      <span class="mobile-text">Join</span>
      <span class="desktop-text">Join Now</span>
    </a>
  </div>
</section>
