.gallery-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.gallery-text {
  font-size: 18px;
  margin-bottom: 48px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  border-radius: 16px;
  overflow: hidden;
}
