.header {
  position: sticky;
  top: 0;
  background-color: #f2fafa;
  z-index: 999;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
}

.header__div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.header-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__link {
  position: relative;
  padding: 23px 0;
}

.header__logo {
  padding: 5px 0;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 74px;
  background-color: #c2d9fc;
  border-radius: 100px;
}

.header__menu-btn.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__menu-btn {
  display: none;
}

.header__close-btn {
  display: none;
}

.header__close-btn.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
}

.header-btn__join-now {
  display: none;
}

.header__modal.is-hidden {
  top: -100%;
  opacity: 0;
  transition: top 450ms ease-in-out, opacity 1000ms ease-in-out;
}

.header__modal {
  position: fixed;
  top: 64px;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 160px;
  background-color: #f2fafa;
  z-index: 15;
  transition: top 450ms ease-in-out, opacity 20ms ease-in-out;
}

.header__modal .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.header-modal__nav {
  width: 100%;
}

.header-modal__item {
  max-width: 323px;
}

.header-modal__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 100px;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out,
    padding 200ms ease-in-out;
}

.header-modal__link:hover {
  background-color: #c2d9fc;
  transform: translateX(10px);
  padding: 0 15px;
}

.header-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #c2d9fc;
  border-radius: 100px;
  height: 46px;
}

.header-nav__link.active {
  position: relative;
}

.header-nav__link.active::after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #868584;
  transition: width 300ms ease-in-out;
}

.header-nav__link::after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #868584;
  transition: width 300ms ease-in-out;
}

.header-nav__link:hover::after {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #868584;
  transition: width 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .header-modal__item {
    max-width: 684px;
  }

  .header-modal__button {
    max-width: 204px;
  }

  .header-btn__join-now {
    display: block;
  }

  .header-btn__join {
    display: none;
  }

  .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 105px;
    background-color: #c2d9fc;
    border-radius: 100px;
  }
}
@media only screen and (min-width: 1336px) {
  .header__menu-btn.visible {
    display: none;
  }

  .header__close-btn.visible {
    display: none;
  }

  .header__modal {
    opacity: 0;
    pointer-events: none;
  }

  .header-nav {
    display: block;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
