.hero-img {
  display: block;
  padding: 48px 0;
  background-image: url(/images/hero/herobaner_mobile-min.jpg);
  max-width: 100%;
  height: 301px;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  margin-right: 0;
}

.hero-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.hero-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d0b0a;
  text-align: start;
  margin-bottom: 20px;
}

.hero-text {
  text-align: start;
  margin-bottom: 24px;
}

.hero-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.hero-ul-li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
}

.link-hero {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  border-radius: 100px;
}

.link-joinnow {
  background-color: #c2d9fc;
  border: 1px solid #c2d9fc;
}

.link-learnmore {
  border: 1px solid rgba(255, 255, 255, 0);

  background-color: rgba(13, 11, 10, 0.05);
}

/* ----Media------ */

@media (min-width: 320px) {
  .hero {
    background-image: url(/images/hero/herobaner_mobile-min.jpg);
  }
}

@media (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(/images/hero/herobaner_mobile@2x-min.jpg);
  }
}
