.pricing__header {
  text-align: center;
  margin-bottom: 48px;
}

.pricing__label {
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.pricing__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  font-family: 'Cabin', sans-serif;
}

.pricing__list-cards {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}

.pricing__item-card {
  width: 100%;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: #dfebeb;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animation symbol "$"  in card*/
.pricing__price-icon {
  display: inline-block;
  transition: transform 3s ease-in-out;
}

.pricing__item-card:hover .pricing__price-icon {
  animation: rotate-dollar 3s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotate-dollar {
  0% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(350deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.pricing__card-title,
.pricing__card-price {
  text-align: center;
  letter-spacing: 0.01em;
  font-family: 'Cabin', sans-serif;
}

.pricing__card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 8px;
}

.pricing__card-price {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.pricing__list-features {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  margin-bottom: 32px;
}

.pricing__item-feature {
  display: flex;
  align-items: center;
}

.pricing__feature-icon {
  margin-right: 16px;
}

.pricing__card-button {
  width: 100%;
  height: 46px;
  padding: 10px 24px;

  font-weight: 500;
  line-height: 1.6;

  border-radius: 100px;
  background-color: #c2d9fc;
  border: 1px solid transparent;
}


@media screen and (min-width: 768px) {
  .pricing__header {
    margin-bottom: 24px;
  }

  .pricing__label {
    margin-bottom: 16px;
  }

  .pricing__title {
    margin-bottom: 24px;
  }

  .pricing__subtitle {
    font-size: 18px;
  }

  .pricing__card-title {
    font-size: 22px;
  }

  .pricing__card-price {
    font-size: 72px;
    margin-bottom: 32px;
  }

  .pricing__list-features {
    margin-bottom: 22px;
  }

  /* Three card - CSS Grid */
  @media screen and (min-width: 768px) and (max-width: 1335px) {
    .pricing__list-cards {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    .pricing__item-card {
      padding: 16px;
    }

    .pricing__item-card:last-child {
      padding: 86px 16px;
    }

    .pricing__item-card--full {
      grid-column: 1 / -1;
    }

    .pricing__card-price--margin {
      margin: 24px 0;
    }

    .pricing__card-content--box {
      display: grid;
      grid-template-columns: 320px 1fr;
      grid-template-rows: auto auto 1fr;
      column-gap: 32px;
      align-items: start;
    }

    .pricing__card-box {
      display: contents;
    }

    .pricing__list-features--box {
      grid-row: 1 / span 3;
      grid-column: 2;
      margin-bottom: 0;
    }

    .pricing__card-button {
      grid-row: 3;
      grid-column: 1;
      align-self: end;
    }
  }
}

@media screen and (min-width: 1336px) {
  .pricing__header {
    margin-bottom: 40px;
  }

  .pricing__title {
    font-size: 52px;
  }

  .pricing__list-cards {
    gap: 24px;
  }

  .pricing__item-card {
    display: flex;
    flex-direction: column;

    padding: 32px;
    min-height: 509px;
    width: calc((100% - 48px) / 3);
  }

  .pricing__item-card:is(:focus, :hover) {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
  }

  .pricing__card-content--box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .pricing__list-features {
    margin-bottom: 0;
  }

  .pricing__card-button {
    margin-top: auto;
  }
}