.section {
  text-align: center;
}
.meet {
  font-weight: 600;

  line-height: 1.5;
}
.team-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-top: 12px;
}
.team-description {
  margin-top: 12px;
}
.team-list {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin-top: 48px;
  gap: 48px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
}
.team-about {
  margin-top: 12px;
}
.team-socmedia {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 704px;
    margin-top: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }
  .team-card {
    max-width: 340px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .team-list {
    max-width: 1312px;
    gap: 67px 24px;
  }
  .team-card {
    max-width: 421px;
  }
}
