.meet {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
}
.team-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}
.team-description {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-name {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}
.team-info {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}
.team-about {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}
